/* Importing a Google Font */

h1 {
	font-family: 'DM Serif Display', serif;
	color: #272727;
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

/* #BD84CF; #f8c8dc  #272727 #f5f5f5   */

body {
	font-family: 'Gloock', serif;
	background-color: #f5f5f5;
	font-size: 18px
}

.mb-4 {
	width: 500px;
	height: 500px; 
	margin-top:-260px;
	outline: double;
}

.mb-5 {
	margin-top: -190px;
	font-size: 30px; 
	color: #FFDC69;
	outline: #000000;
	text-decoration-line: overline;
}
/* Changing the background colour for the header */

header {
	background-color: #FACC6B;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #4a3821;
	
}

/* Start Effect on social media buttons */

.nav-link a.hover {
	color: #FFF1AB !important;
}

.active {
	color: #BD84CF;
}

/* End Effect on social media buttons */

/* Start Corporate navbar */

#navbar-corporate a.active {
	color: #272727;
	font-weight: bold;
}
.nav-link{
	color: #FABC3C;
	-webkit-text-stroke: .12px black;
	font-size: 20px;
	
}

.nav-link.active{
	color: #;
}

.nav{
	outline-style:outset;
	background: #

}

/* End Corporate navbar */

/* Start Other pages - Corporate */

.py-2{
	color: #FFF1AB;
}

.ffcorporate {
	width: 300px;
	height: 300px; 
	
}
.corporateheading {
	
	font-family: 'Gloock', serif;
}

/* End Other pages - Corporate */

/* Start Other pages - Funding Tiers */

.imggoldcheck {
	width: 18px;
	margin-top: -6px;
}


.btn-primary {
	 border-color: black;
	background-color:#FABC3C;
	color: black;
	font: bolder;
	margin-top: 13px;
	font-size: 17px;
}


.pickyourtier {
	margin-top: 40px;
	font-size: 60px;
}

.fundingtiersrow {
	display: flex;
	align-content: center;
	margin-left:210px;
	width: 100%
}

.card{

	outline: outset;
	outline-color: #FFDC69;
	
}

/* End Other pages - Funding Tiers */


/* Start all pages - Footer */

.footerallpages {
	background-color:  #FFDC69;
}


/* End all pages - Footer */


/* Start About Us page - styles */
.aboutuspps {
	width: 230px;
	border-radius: 20%;
	
}
.jessepfp {
	width: 275px;
	border-radius: 20%;
}


.lisepfp{
	width: 248px;
	border-radius: 60px;
}

.circle-frame{
	
}



.socialmedialogosaboutuspage {
	width: 200px;
	margin-top: 30px;
}


.instagramlogoaboutus {
	margin-left: 100px;
}


.facebooklogoaboutus {
	margin-left: -5px;
}
.connectwithusaboutus {
	margin-top:90px;
}

.aboutuscarousel {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.aboutusaboutusheader {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* end About Us page - styles */



