/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

h1 {
	font-family: 'Noto Serif Display', serif;
	color: #272727;
}

h2 {
	font-family: 'Libre Baskerville', serif;
	color: #FABC3C;

}


/* Changing the main font and background colour */

/* #BD84CF; #f8c8dc  #272727 #f5f5f5  #FABC3C */

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #D4C8A1;
	font-size: 18px;
	font-weight: 400;

}

.mb-4 {
	width: 500px;
	height: 500px; 
	margin-top:-260px;
	outline: double;
}

.mb-5 {
	margin-top: -190px;
	font-size: 30px; 
	color: #FFDC69;
	outline: #000000;
	text-decoration-line: overline;
}
/* Changing the background colour for the header */

header {
	background-color: #FACC6B;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #4a3821;
	
}

/* Start Effect on social media buttons */



/* End Effect on social media buttons */

/* Start navbar */


.nav-link{
	color: #FABC3C;
	-webkit-text-stroke: .12px black;
	font-size: 20px;
	
}

.activehtmlpage {
	color: #f5f5f5!important;
	text-decoration: underline;align-content:center;
	text-decoration-color: #FABC3C;
	
}

.nav{
	outline-style:outset;

}

.nav-item {
	border-right: 1px solid #FABC3C;
}

.nav-item:last-child {
  border-right: none;
}


.supportusherebtn{
margin-top: 1px !important;
	margin-left: 325px !important;
	width: 80%;
	
}
/* End navbar */

/* Start Other pages - Corporate */

.py-2{
	color: #FFF1AB;
}

.ffcorporate {
	width: 250px;
	
	
}
.corporateheading {
	
	font-family: 'Noto Serif Display', serif;
}

.hotlinkscolor {
	background: #f5f5f5;
	border-radius: 
}
/* End Other pages - Corporate */

/* Start Other pages - Funding Tiers */

.imggoldcheck {
	width: 18px;
	margin-top: -6px;
}


.btn-primary {
	 border-color: black;
	background-color:#FABC3C !important;
	color: black;
	font: bolder;
	margin-top: 13px;
	font-size: 17px;
}


.pickyourtier {
	margin-top: 40px;
	font-size: 60px;
}

.fundingtiersrow {
	display: flex;
	align-content: center;
	margin-left:210px;
	width: 100%;
	margin-top: 50px;
	
}

.card{

	outline: outset;
	outline-color: #FFDC69;
	box-shadow: 8px 8px 20px  #272727; 
	
}


#myCarouselinvestor {
	margin-top: 29px;
}
/* End Other pages - Funding Tiers */


/* Start all pages - Footer */

.footerallpages {
	background-color:  #FFDC69;
}

.footerlogo{
	width: 80px;
	margin-right: 200px;
}



/* End all pages - Footer */


/* Start About Us page - styles */
.aboutuspps {
	width: 230px;
	border-radius: 20%;
	box-shadow: 5px 5px #FABC3C;
	
}
.jessepfp {
	width: 275px;
	border-radius: 20%;
	box-shadow: 5px 5px #FABC3C;
}


.lisepfp{
	width: 248px;
	border-radius: 60px;
	box-shadow: 5px 5px #FABC3C;
	
}

.socialmedialogosaboutuspage {
	width: 200px;
	margin-top: 30px;
}


.instagramlogoaboutus {
	margin-left: 100px;
}


.facebooklogoaboutus {
	margin-left: -5px;
}
.connectwithusaboutus {
	margin-top:90px;
}


.aboutusaboutusheader {
	margin-top: 100px;
	margin-bottom: 30px;
}

.value1 {
	margin-top: 80px;

}


.value4row {
	margin-top: 80px;
	margin-bottom: 120px;
}

.value1border {
	border-radius: 100px;
	outline: outset;
	box-shadow: 10px 10px #FABC3C;
	background-color: white;
	
}



.valuesimg {
	border-radius: 1000px;
}

.vaueadjustmentimg {
	margin-left: 50px;
}

.hrgettoknowus{
	width: 40%
}

.padding{ 
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.paddingtop{
	padding-top: 40px;
}

.color{ 
color: black;
}


.layout-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
	
}

.layout-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.layout-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
 
}

.text-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 50px;
	margin-top: 100px;
}

.column {
  flex-basis: 30%;
}

.column:not(:last-child) {
  margin-right: 5%;
}

.visualidentityimg {
	width: 85%;
	border-radius: 90px;
	box-shadow: 5px 5px #FABC3C;
}


.visionbanner{
	box-shadow: 10px 10px 15px  #FABC3C; 
	margin-top: 4px;
	outline: outset;
	outline-style: double;
}

/* end About Us page - styles */


/* start Product page - styles */

.productpageheadings{
	outline-style: outset;
	border-radius: 1000px;
	box-shadow: 5px 5px 10px #272727;
	background-color: white;
}


.whyourbrand{
	margin-top: 50px;
}

.fixedbutton {
    position: fixed;
    top: 560px;
    right: 1000px; 
}

.headaboutus{
	color: #4a3821;
}


/* start landing page - styles */

.diannelandingpage {
	border-radius: 20%;
	box-shadow: 2px 2px 15px #272727;
	
	
}

.plandingpage{
	box-shadow: 5px 5px #FABC3C;
	background: #f5f5f5;
	margin-top: 30px;
	border-radius: 5%;
}

.carouselbackdrop {
	background: white;
	border-radius: 20px;
	opacity: 60%;
}

.landingpagecarousel{
	box-shadow: 5px 5px 30px  #FABC3C; 
	
	
}

/* end landing page - styles */

